body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38 );
}
a{
    text-decoration: none;
}
#main-header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    
}